body{
    margin: 0;
    background-color: #7957d5;
}
header{
    width: 85%;
    margin: auto;
}
h1{
    color:  #fff;
    text-align: right;
}

hr{
    border: 2px solid #fff;
    color: #fff;
}
section{
    width: 85%;
    margin: auto;
}
.description-content{
    color: #fff;
}
.info{
    display: flex;
    background-color: #4a4a4a;
    border-radius: 25px;
}
h2{
    text-align: center;
}
.map, .contacts{
    text-align: center;
    color: #fff;
}
.map{
    width: 60%;
}
.contacts{
    width: 40%;
}
.map>iframe{
    border: 2px solid #7957d5;
    border-radius: 25px;
}
.contacts{
    flex-direction: column;
    text-align: left;
}
.contacts>div{
    width: 100%;
    padding-bottom: 10px;
}
.fa-2x{
    padding: 0 15px 0 0;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: 7957d5;
    transition: 0.3s;
}
h5,.modal-body{
    color: #4a4a4a;
}

@media(max-width:1024px){
    .map>iframe{
        width: 300px;
        height: 200px;
    }
}
@media(max-width:767px) {
    .info{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .map, .contacts{
        width: 70%;
        margin: auto;
    }
}
